@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  @apply bg-cream
}

main {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p {
  margin: 0 0 1.15em;
}

.container {
  @apply pr-4 pl-4 m-auto max-w-[800px]
}

header, footer {
  @apply bg-pink text-white
}

button, button[type="submit"] {
  @apply cursor-pointer bg-pink font-semibold border border-pink hover:bg-pinkIntense text-white p-2 pr-3 pl-3 rounded-2xl outline-none hover:scale-[102%] max-h-11
}

input, textarea {
  @apply p-2 outline-none border border-gray-200 rounded-2xl
}

label {
  cursor: pointer
}