encode zstd gzip

pierre.wns.wilders.dev {
reverse_proxy localhost:8080
}

api.pierre.wns.wilders.dev {
reverse_proxy localhost:8081
}

staging.pierre.wns.wilders.dev {
reverse_proxy localhost:7080
}

api.staging.pierre.wns.wilders.dev {
reverse_proxy localhost:7081
}

ops.pierre.wns.wilders.dev {
reverse_proxy localhost:9000
}
