name: tests-front

on: pull_request

jobs:
  test-client:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: "Install pnpm and deps"
        run: npm i -g pnpm && cd client && pnpm i
      - name: Goto client and run tests
        run: cd client && pnpm run test
